.content {
    padding: 5% 30%;
    height: 100vh;
    transition: 0.5s;
    text-align: center;
}

.card {
    padding: 10% 30%;
    border-radius: 20px;
    background-color: #eceff1;
}

.input {
    width: 80%;
}